<main class="main">
  <div class="content">
    <div class="left-side">
      <h1 id="top-notice">Hello, Welcome to GameRenter! Click the link below to search for games to rent. </h1>
      <p></p>
      <div id="button-case">
        <button routerLink="/search">Search for games</button>
        <p></p>
        <button (click)="clearGames()" routerLink="/">Back to home and clear save games</button>
        <p></p>
        <button routerLink="/checkout">Checkout</button>
      </div>
    </div>
    <br/>
  </div>
  <router-outlet />
</main>
